body {
    background-color: #1e1e1e;
    font-family: Yu Mincho;
}

.timer-label {
    margin: 0;
    color: #fff;
    font-size: 500%;
    text-align: center;
}

.timer {
    font-weight: bold;
    margin: 0;
    color: #fff;
    font-size: 20vw;
    text-align: center;
}

.glad-label {
    font-size: 9vw;
    background: linear-gradient(90deg, #FF0000, #FFFF00, #FF00FF);
    background-size: 200% 100%;
    animation: gradientAnimation 1s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.glad-timer {
    background: linear-gradient(90deg, #FF0000, #FFFF00, #FF00FF);
    background-size: 200% 100%;
    animation: gradientAnimation 1s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes gradientAnimation {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}